Esercizi Webservice (formato progetto-NetBeans)/Calcolatore/WebClnt/src/conf/xml-resources/web-service-references/Calcolatore/wsdl/localhost_8080/WebService/Calcolatore.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://calc/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calc/">

<xs:element name="calcola" type="tns:calcola"/>

<xs:element name="calcolaResponse" type="tns:calcolaResponse"/>

<xs:complexType name="calcola">
<xs:sequence>
<xs:element name="operazione" type="xs:unsignedShort"/>
<xs:element name="operando1" type="xs:double"/>
<xs:element name="operando2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcolaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>