Esercizi Webservice (formato progetto-NetBeans)/Registrazioni Esami TPCD/WebClnt/src/conf/xml-resources/web-service-references/RegistrazioneEsami/wsdl/localhost_8080/WebService/RegistrazioneEsami.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://reg_esami/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://reg_esami/" name="RegistrazioneEsami">
<types>
<xsd:schema>
<xsd:import namespace="http://reg_esami/" schemaLocation="http://localhost:8080/WebService/RegistrazioneEsami?xsd=1"/>
</xsd:schema>
</types>
<message name="myParser">
<part name="parameters" element="tns:myParser"/>
</message>
<message name="myParserResponse">
<part name="parameters" element="tns:myParserResponse"/>
</message>
<message name="media">
<part name="parameters" element="tns:media"/>
</message>
<message name="mediaResponse">
<part name="parameters" element="tns:mediaResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="registrazione">
<part name="parameters" element="tns:registrazione"/>
</message>
<message name="registrazioneResponse">
<part name="parameters" element="tns:registrazioneResponse"/>
</message>
<portType name="RegistrazioneEsami">
<operation name="myParser">
<input wsam:Action="http://reg_esami/RegistrazioneEsami/myParserRequest" message="tns:myParser"/>
<output wsam:Action="http://reg_esami/RegistrazioneEsami/myParserResponse" message="tns:myParserResponse"/>
</operation>
<operation name="media">
<input wsam:Action="http://reg_esami/RegistrazioneEsami/mediaRequest" message="tns:media"/>
<output wsam:Action="http://reg_esami/RegistrazioneEsami/mediaResponse" message="tns:mediaResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://reg_esami/RegistrazioneEsami/media/Fault/FileNotFoundException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://reg_esami/RegistrazioneEsami/media/Fault/IOException"/>
</operation>
<operation name="registrazione">
<input wsam:Action="http://reg_esami/RegistrazioneEsami/registrazioneRequest" message="tns:registrazione"/>
<output wsam:Action="http://reg_esami/RegistrazioneEsami/registrazioneResponse" message="tns:registrazioneResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://reg_esami/RegistrazioneEsami/registrazione/Fault/IOException"/>
</operation>
</portType>
<binding name="RegistrazioneEsamiPortBinding" type="tns:RegistrazioneEsami">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="myParser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="media">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="registrazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="RegistrazioneEsami">
<port name="RegistrazioneEsamiPort" binding="tns:RegistrazioneEsamiPortBinding">
<soap:address location="http://localhost:8080/WebService/RegistrazioneEsami"/>
</port>
</service>
</definitions>