Esercizi Webservice (formato progetto-NetBeans)/Registrazioni Esami TPCD/WebClnt/web/WEB-INF/wsdl/localhost_8080/WebService/RegistrazioneEsami.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://reg_esami/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reg_esami/">

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="media" type="tns:media"/>

<xs:element name="mediaResponse" type="tns:mediaResponse"/>

<xs:element name="myParser" type="tns:myParser"/>

<xs:element name="myParserResponse" type="tns:myParserResponse"/>

<xs:element name="registrazione" type="tns:registrazione"/>

<xs:element name="registrazioneResponse" type="tns:registrazioneResponse"/>

<xs:complexType name="media">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mediaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="myParser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="myParserResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrazione">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="cognome" type="xs:string" minOccurs="0"/>
<xs:element name="matricola" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrazioneResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>